html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}

#aTocarAgoraContainer{
    width: 100%;
    background-color: #f5e689;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#aTocarAgoraBar{
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#aTocarAgoraEsquerda, #aTocarAgoraDireita{
    width: 30%;
    min-width: 180px;
}

#aTocarAgoraCentro{
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aTocarAgoraBar .content{
    width: 100%;
}

.playerControls .buttons{
    margin: 0 auto;
    display: table;
}

.controlButton{
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img{
    width: 20px;
    height: 20px;
}

.controlButton.play img, .controlButton.pause img{
    width: 32px;
    height: 32px;
}

.controlButton:hover{
    cursor: pointer;
}

.progressTime{
    color: #000;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.playbackBar{
    display: flex;
}

.progressBar{
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarbackground{
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress{
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progressBar{
    margin-top: 3px;
}